/* CSS nháp nên còn nhiều lởm khởm */
*{text-decoration:none;}
.M0{margin:0;}
.P0{padding:0}
.tAc{text-align:center;}

.bg{
 background-image: -moz-linear-gradient(top, #9f0b26, #71021d);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #9f0b26), color-stop(1.0, #71021d));
background-color: #DDDDDD;
}
main{width:80%; margin:9px auto;box-shadow:0 3px 9px #555; border-radius:20px;overflow:hidden;}
header{text-align:center;font-size: 35px;font-weight:bold;color:#fff; text-shadow:0 1px 1px #111;   height:100px;line-height:100px;}

nav{  
background-image: -moz-linear-gradient(top, #554b4f, #332f34);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #554b4f), color-stop(1.0, #332f34));
background-color: #DDDDDD;
  line-height:35px;
}
nav a{color:#fff;padding:0;margin:0;}
nav ul{padding:0;margin:0;}
nav li{list-style:none;display:inline-block;width:24%;text-align:center; padding:0;margin:0;transition:all 0.5s ease;}
nav li:hover{background:rgba(255,255,255,0.4);padding: 0 3px;}

#content{background:#d4f092;padding:0;margin:0; text-shadow:0 1px 2px #fff;padding:10px;}
h1{padding-top:20px;margin:0;}
footer{
  line-height:50px;
  color:#fff;
  text-align:right;
  padding:10px
}
code{padding:20px;;display:block;}

form.contact{}
form.contact span{width:200px;display:inline-block;}
form.contact input,form.contact textarea {margin: 5px}
form.contact input[type="text"],form.contact textarea{width:400px;display:inline-block;}
form.contact input[type="submit"],form.contact input[type="reset"] {width:100px;padding:9px;display:inline-block;}

.active {background:rgba(255,255,255,0.1)}
